.form-new-letter{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 300px;
  position: absolute;
  bottom: 3px;
  right: 100px;
}
.form-hidden{
  display: none;
}

.letter-for{
  padding: 5px;
}
.letter-desc{
  padding: 5px;
  height: 100px;
}

.form-btn{
  display: flex;
  justify-content: space-between;
}