.btn-new-letter{
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 16px;
  border-radius: 25px;
  width: 55%;
  outline: none;
  border: none;
  box-shadow: 0px 2px 7px #ccc;
  background-color: #fff;
  cursor: pointer;
}

.btn-new-letter:hover{
  box-shadow: 0px 4px 16px #ccc;
}