.menu-folder{
  display: block;
  color: #000000;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.menu-folder:hover{
  background-color: rgba(204, 204, 204, 0.22);
  border-radius: 0 25px 25px 0;
}

.active{
  display: block;
  font-weight: bold;
  color: #d93025;
  background-color: #fadbdb;
  font-size: 16px;

  padding: 5px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}