.hidden{
  display: none;
}

.active-letter{
  font-weight: bold;
}

.mail-list{
  //width: 68%;
}
.block-item-letter{
  position: relative;
}

.item-letter{
  //height: 32px;
  //line-height: 2;
  padding: 10px 20px;
  border-top: 1px solid #a9a9a9a6;
  border-bottom: 1px solid #a9a9a9a6;
  border-collapse: collapse;
}

.item-letter:hover{
  box-shadow: 2px 2px 2px #ccc;
  cursor: pointer;
}

.letter-from{
  margin-right: 100px;
}

.letter-title{

}

.box-choose{
  position: absolute;
  top: 16px;
}

.delete-letter{
  position: absolute;
  right: 0;
}