*{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}


.sidebar{
  display: flex;
  //justify-content: center;
  flex-direction: column;
  //align-items: center;
  flex-wrap: wrap;
  width: 30%;
  max-width: 256px;
}


.mail-region{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.block-maillist{
  width: 68%;
}

#root{
  margin: 15px 15px 15px 0;
}